<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    coreApp="true"
    android:sharedUserId="android.uid.system">

    <application
        android:name=".BoringdroidSettingsApplication"
        android:allowBackup="false"
        android:defaultToDeviceProtectedStorage="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/ic_name"
        android:requiredForAllUsers="true"
        android:supportsRtl="true"
        android:taskAffinity=""
        android:theme="@style/Theme.Settings"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".BoringdroidSettings"
            android:exported="true"
            android:icon="@drawable/ic_icon"
            android:label="@string/ic_name">
            <intent-filter>
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
            </intent-filter>

            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.homepage" />
            <meta-data
                android:name="com.android.settings.title"
                android:value="@string/boringdorid_dashboard_title" />
            <meta-data
                android:name="com.android.settings.summary"
                android:value="@string/boringdorid_dashboard_summary" />
        </activity>
    </application>
</manifest>
